@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

/* Hide scrollbar for Chrome, Safari and Opera */
.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.scrollbar-hide {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: "Stack Sans Text", ui-sans-serif, sans-serif, system-ui;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --radius: 0.725rem;
  --tracking-tighter: calc(var(--tracking-normal) - 0.05em);
  --tracking-tight: calc(var(--tracking-normal) - 0.025em);
  --tracking-wide: calc(var(--tracking-normal) + 0.025em);
  --tracking-wider: calc(var(--tracking-normal) + 0.05em);
  --tracking-widest: calc(var(--tracking-normal) + 0.1em);
  --tracking-normal: var(--tracking-normal);
  --shadow-2xl: var(--shadow-2xl);
  --shadow-xl: var(--shadow-xl);
  --shadow-lg: var(--shadow-lg);
  --shadow-md: var(--shadow-md);
  --shadow: var(--shadow);
  --shadow-sm: var(--shadow-sm);
  --shadow-xs: var(--shadow-xs);
  --shadow-2xs: var(--shadow-2xs);
  --spacing: var(--spacing);
  --letter-spacing: var(--letter-spacing);
  --shadow-offset-y: var(--shadow-offset-y);
  --shadow-offset-x: var(--shadow-offset-x);
  --shadow-spread: var(--shadow-spread);
  --shadow-blur: var(--shadow-blur);
  --shadow-opacity: var(--shadow-opacity);
  --color-shadow-color: var(--shadow-color);
  --color-destructive-foreground: var(--destructive-foreground);

  --color-third: var(--third);
  --color-third-foreground: var(--third-foreground);

  --color-fourth: var(--fourth);
  --color-fourth-foreground: var(--fourth-foreground);

  --color-fifth: var(--fifth);
  --color-fifth-foreground: var(--fifth-foreground);
}

:root {
  --radius: 0.725rem;
  --background: oklch(0.9967 0.0054 95.0974);
  --foreground: oklch(0.3253 0.0091 88.7462);
  --card: oklch(0.9967 0.0054 95.0974);
  --card-foreground: oklch(0.3253 0.0091 88.7462);
  --popover: oklch(0.9967 0.0054 95.0974);
  --popover-foreground: oklch(0.3253 0.0091 88.7462);
  --primary: oklch(0.8329 0.135 135.2882);
  --primary-foreground: oklch(0.3328 0.0099 61.1521);
  --secondary: oklch(0.3328 0.0099 61.1521);
  --secondary-foreground: oklch(0.9735 0.0098 87.4706);
  --muted: oklch(0.9563 0.0143 84.5834);
  --muted-foreground: oklch(58.716% 0.01878 88.048);
  --accent: oklch(0.983 0.0114 84.5779);
  --accent-foreground: oklch(0.4425 0.0134 89.8285);
  --destructive: oklch(0.577 0.245 27.325);
  --border: oklch(0.889 0.0171 88.0064);
  --input: oklch(0.9563 0.0143 84.5834);
  --ring: oklch(0.9563 0.0143 84.5834);
  --chart-1: oklch(0.8128 0.1041 293.8773);
  --chart-2: oklch(0.6815 0.1436 292.3824);
  --chart-3: oklch(0.64 0.1341 292.2904);
  --chart-4: oklch(0.5778 0.1122 292.4662);
  --chart-5: oklch(0.4939 0.0963 293.0945);
  --sidebar: oklch(0.9939 0.0082 91.4805);
  --sidebar-foreground: oklch(0.3253 0.0091 88.7462);
  --sidebar-primary: oklch(0.4425 0.0134 89.8285);
  --sidebar-primary-foreground: oklch(0.9967 0.0054 95.0974);
  --sidebar-accent: oklch(0.983 0.0114 84.5779);
  --sidebar-accent-foreground: oklch(0.4425 0.0134 89.8285);
  --sidebar-border: oklch(0.889 0.0171 88.0064);
  --sidebar-ring: oklch(0.889 0.0171 88.0064);
  --destructive-foreground: oklch(1 0 0);
  --font-sans: Stack Sans Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --shadow-color: #56534b;
  --shadow-opacity: 0.07;
  --shadow-blur: 6px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.04);
  --shadow-xs: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.04);
  --shadow-sm: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.07),
    0 1px 2px -1px hsl(43.6364 6.8323% 31.5686% / 0.07);
  --shadow: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.07),
    0 1px 2px -1px hsl(43.6364 6.8323% 31.5686% / 0.07);
  --shadow-md: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.07),
    0 2px 4px -1px hsl(43.6364 6.8323% 31.5686% / 0.07);
  --shadow-lg: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.07),
    0 4px 6px -1px hsl(43.6364 6.8323% 31.5686% / 0.07);
  --shadow-xl: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.07),
    0 8px 10px -1px hsl(43.6364 6.8323% 31.5686% / 0.07);
  --shadow-2xl: 0 1px 6px 0px hsl(43.6364 6.8323% 31.5686% / 0.18);
  --tracking-normal: 0em;

  --third: oklch(0.6815 0.1436 292.38);
  --third-foreground: oklch(0.9735 0.0098 87.47);

  --fourth: oklch(0.7618 0.1013 235.21);
  --fourth-foreground: oklch(0.9967 0.0054 95.0974);

  --fifth: oklch(0.8302 0.081 47.72);
  --fifth-foreground: oklch(0.9967 0.0054 95.0974);
}

.dark {
  --background: oklch(0.145 0 0);
  --foreground: oklch(0.985 0 0);
  --card: oklch(0.205 0 0);
  --card-foreground: oklch(0.985 0 0);
  --popover: oklch(0.269 0 0);
  --popover-foreground: oklch(0.985 0 0);
  --primary: oklch(0.922 0 0);
  --primary-foreground: oklch(0.205 0 0);
  --secondary: oklch(0.269 0 0);
  --secondary-foreground: oklch(0.985 0 0);
  --muted: oklch(0.269 0 0);
  --muted-foreground: oklch(0.708 0 0);
  --accent: oklch(0.371 0 0);
  --accent-foreground: oklch(0.985 0 0);
  --destructive: oklch(0.704 0.191 22.216);
  --border: oklch(0.275 0 0);
  --input: oklch(0.325 0 0);
  --ring: oklch(0.556 0 0);
  --chart-1: oklch(0.81 0.1 252);
  --chart-2: oklch(0.62 0.19 260);
  --chart-3: oklch(0.55 0.22 263);
  --chart-4: oklch(0.49 0.22 264);
  --chart-5: oklch(0.42 0.18 266);
  --sidebar: oklch(0.205 0 0);
  --sidebar-foreground: oklch(0.985 0 0);
  --sidebar-primary: oklch(0.488 0.243 264.376);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.269 0 0);
  --sidebar-accent-foreground: oklch(0.985 0 0);
  --sidebar-border: oklch(0.275 0 0);
  --sidebar-ring: oklch(0.439 0 0);
  --destructive-foreground: oklch(0.985 0 0);
  --radius: 0.725rem;
  --font-sans: Stack Sans Text, ui-sans-serif, sans-serif, system-ui;
  --font-serif: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  --font-mono: ui-monospace, SFMono-Regular, Menlo, Monaco, Consolas,
    "Liberation Mono", "Courier New", monospace;
  --shadow-color: oklch(0 0 0);
  --shadow-opacity: 0.07;
  --shadow-blur: 6px;
  --shadow-spread: 0px;
  --shadow-offset-x: 0;
  --shadow-offset-y: 1px;
  --letter-spacing: 0em;
  --spacing: 0.25rem;
  --shadow-2xs: 0 1px 6px 0px hsl(0 0% 0% / 0.04);
  --shadow-xs: 0 1px 6px 0px hsl(0 0% 0% / 0.04);
  --shadow-sm: 0 1px 6px 0px hsl(0 0% 0% / 0.07),
    0 1px 2px -1px hsl(0 0% 0% / 0.07);
  --shadow: 0 1px 6px 0px hsl(0 0% 0% / 0.07),
    0 1px 2px -1px hsl(0 0% 0% / 0.07);
  --shadow-md: 0 1px 6px 0px hsl(0 0% 0% / 0.07),
    0 2px 4px -1px hsl(0 0% 0% / 0.07);
  --shadow-lg: 0 1px 6px 0px hsl(0 0% 0% / 0.07),
    0 4px 6px -1px hsl(0 0% 0% / 0.07);
  --shadow-xl: 0 1px 6px 0px hsl(0 0% 0% / 0.07),
    0 8px 10px -1px hsl(0 0% 0% / 0.07);
  --shadow-2xl: 0 1px 6px 0px hsl(0 0% 0% / 0.18);
}

@layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
    letter-spacing: var(--tracking-normal);
  }
  html {
    scroll-behavior: smooth;
  }
  .anchor-offset {
    scroll-margin-top: 70px;
  }
}

/* Markdown Content Styles */
.markdown-content h1 {
  font-size: 1rem;
  font-weight: 700;
  margin-bottom: 0.75rem;
  margin-top: 0;
  line-height: 1.25;
  color: var(--accent-foreground);
}

.markdown-content h2 {
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 0.75rem;
  line-height: 1.375;
  color: var(--accent-foreground);
}

.markdown-content h3 {
  font-size: 1rem;
  font-weight: 500;
  margin-bottom: 0.5rem;
  line-height: 1.5;
  color: var(--accent-foreground);
}

.markdown-content h4 {
  font-size: 1rem;
  font-weight: 400;
  margin-bottom: 0.5rem;
  color: var(--accent-foreground);
}

.markdown-content p {
  font-size: 0.875rem;
  margin-bottom: 0.75rem;
  text-align: justify;
  font-weight: 300;
  color: var(--muted-foreground);
}

@media (min-width: 768px) {
  .markdown-content p {
    font-size: 1rem;
  }
  .markdown-content h1,
  .markdown-content h2,
  .markdown-content h3,
  .markdown-content h4 {
    font-size: 1.125rem;
  }
}

.markdown-content strong {
  font-weight: 600;
  /* color: var(--foreground); */
}

.markdown-content em {
  font-style: italic;
  /* color: var(--foreground); */
}

.markdown-content ul,
.markdown-content ol {
  margin: 0.75rem 0;
  padding-left: 1.5rem;
}

.markdown-content ul {
  list-style-type: disc;
}

.markdown-content ol {
  list-style-type: decimal;
}

.markdown-content li {
  margin-bottom: 0.25rem;
  line-height: 1.625;
  color: var(--muted-foreground);
  font-size: 0.875rem;
}

@media (min-width: 768px) {
  .markdown-content li {
    font-size: 1rem;
  }
}

.markdown-content blockquote {
  border-left: 4px solid var(--primary);
  padding-left: 1rem;
  padding-top: 0.25rem;
  padding-bottom: 0.25rem;
  margin: 1.5rem 0;
  font-style: italic;
  color: var(--muted-foreground);
}

.markdown-content hr {
  border: 0;
  border-top: 1px solid var(--border);
  margin: 2rem 0;
}

.markdown-content a {
  color: var(--primary);
  text-decoration: underline;
}

.markdown-content a:hover {
  opacity: 0.8;
}

.markdown-content code {
  background-color: var(--muted);
  color: var(--foreground);
  padding: 0.125rem 0.25rem;
  border-radius: 0.25rem;
  font-size: 0.875rem;
}

.markdown-content input[type="checkbox"] {
  margin-right: 0.5rem;
}
